extends layout

block content
  div(class='grid')
    form(action="/login" method="POST")
      label(for="email") Email:
      input(
      type="email"
      id="email"
      name="email"
      placeholder="name@email.com"
  )
      label(for="pw") Password:
      input(
      type="string"
      id="password"
      name="password"
  )
  input(type="submit" value="Submit")
  p
  | Not a member
  a(href="/signup") Sign Up Now