extends layout

block content
    div(class='grid')
        h1=firstName
        div(class='profileTools')
            h3 Profile Options
            ul
                li
                    a(href='/createProduct')
                        button(class='productButton' id='productCreateButton') Create Product   
                li
                    button(class='productButton' id='productEditButton') Edit Product
                li
                    button(class='productButton' id='myProductsButton') My Products
                li
                    a(href='/users/logout')
                        button(class='productButton' id='profileLogoutButton') Logout
        div(class='memberProducts')
            div(class='productFeed')
                if products.length == 0
                    p You don't have any Products...
                    p Click Create Product to Start
                else
                    each val in products
                        div.product
                            h1=val.title
                                span(id='productDelete' class='material-icons' data-product-id=val._id) Delete
                                // switch to an icon ^
                            div(class='content')
                                - var pic= val.img
                                img(src=pic, alt="Your Browser Doesn't Support Our Image, Sorry.")
                                p='Sold By: ' + val.seller
                                p='$ ' + val.price
                                p=val.description
                                span=val.rating
                                //want to do a star icon based on rating

                        script(src="./javascripts/createProduct.js")