extends layout

block content
    div(class="row mt-5")
        div(class="col-md-6 m-auto")
            div(class="card card-body")
                h1(class='text-center mb-3')
                    i(class='fas fa-user-plus') Sign Up
                form(action="/users/signup" method='POST')
                    div(class='form-group')
                        label(for='firstName') Name
                        input(
                            type='firstName'
                            id='firstName'
                            name='firstName'
                            class='form-control'
                            placeholder='Enter First Name'
                        )
                            //- if (typeof firstName != 'undefined') 
                            //-     input.value= firstName 
                            //- else 
                            //-     input.value= ''
                    div(class='form-group')
                        label(for='lastName') Name
                        //- if (typeof name != 'undefined') 
                        //-     input.value= name 
                        //- else 
                        //-     input.value= ''
                        input(
                            type='lastName'
                            id='lastName'
                            name='lastName'
                            class='form-control'
                            placeholder='Enter Last Name'
                        )
                    div(class='form-group')
                        label(for='email') Email
                        //- if (typeof email != 'undefined') 
                        //-     input.value= email 
                        //- else 
                        //-     input.value= ''
                        input(
                            type='email'
                            id='email'
                            name='email'
                            class='form-control'
                            placeholder='Enter Email'
                        )
                    div(class='form-group')
                        label(for='password') Password
                        //- if (typeof email != 'undefined') 
                        //-     input.value= password 
                        //- else 
                        //-     input.value= ''
                        input(
                            type='password'
                            id='password'
                            name='password'
                            class='form-control'
                            placeholder='Create Password'
                        )
                    div(class='form-group')
                        label(for='password2') Confirm Password
                        //- if (typeof email != 'undefined') 
                        //-     input.value= password2 
                        //- else 
                        //-     input.value= ''
                        input(
                            type='password'
                            id='password2'
                            name='password2'
                            class='form-control'
                            placeholder='Confirm Password'
                        )
                    div(class='form-group')
                        label(for='admin') Admin Code
                        input(
                            type='admin'
                            id='admin'
                            name='admin'
                            class='form-control'
                            placeholder='Admin Rights Code'
                        )
                    button(type='submit' class='btn btn-primary btn-block') Sign Up
                p(class='lead mt-4') Have an Account? 
                    a(href='/users/login') Login
                
                    